@use '@/app/styles/media-queries.scss' as *;

.container {
    width: 80%;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 4rem;

    @include tablet-l {
        width: 100%;
        padding: 2.5rem;
    }

    @include mobile-xl {
        padding: 2rem 1rem;
    }

    .header_container {
        @include tablet-m {
            flex-direction: column;
            gap: var(--gap-m);
        }

        button {
            width: max-content;
            padding: 0 1rem;

            @include mobile-xl {
                font-size: var(--font-size-16);
            }

            @include mobile-s {
                padding: 0 0.5rem;
                height: 2.75rem;
                font-size: var(--font-size-14);
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: var(--gap-xxl);
        width: 100%;

        @include mobile-xl {
            gap: var(--gap-xl);
        }

        .label {
            font-size: var(--font-size-16);
            font-family: var(--font-family-geometria500);
        }

        .input {
            width: 100%;
            height: 38px;
            padding: 8px;
            border: 1px solid #d1d5db;
            border-radius: 6px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            transition: border-color 0.2s, box-shadow 0.2s;

            &:focus {
                border-color: var(--pink-color);
                box-shadow: 0 0 0 1px var(--pink-color);
                outline: none;
            }
        }

        .error {
            border-color: var(--error-color);
        }

    }
}

.cancelButton {
    padding: 8px 16px;
    color: #4b5563;
    background-color: #f3f4f6;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s;

    &:hover {
        color: #374151;
        background-color: #e5e7eb;
    }
}

.addButton {
    font-size: var(--font-size-16) !important;
}