@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-600';
    src: url('../fonts/geometria_bold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-500';
    src: url('../fonts/geometria_medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria-400';
    src: url('../fonts/geometria_light.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}