@use './media-queries' as *;

@mixin section-style {
    // z-index: 1;
    width: 1280px;
    margin: auto;

    @include desktop-m {
        width: 1100px;
        padding: 0 40px;
    }

    @include tablet-l {
        width: 100%;
        padding: 0 30px;
    }

    @include mobile-l {
        width: 100%;
        padding: 0 20px;
    }
}

@mixin section-admin-style {
    width: 80%;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 4rem;

    @include desktop-1600 {
        width: 92%;
    }

    @include tablet-l {
        width: 100%;
        padding: 2.5rem;
    }

    @include mobile-xl {
        padding: 2rem 1rem;
    }
}

@mixin grid-admin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    width: 100%;
    gap: var(--gap-xl);

    @include desktop-l {
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap-xxl);
    }

    @include mobile-l {
        grid-template-columns: repeat(1, 1fr);
    }
}

@mixin decorate-style {
    position: relative;
    overflow: hidden;

    >svg {
        position: absolute;
        width: 300px;
        opacity: 0.7;
        z-index: -1;

        @include tablet-l {
            width: 200px;
        }

        @include mobile-xl {
            width: 150px;
        }

        &:nth-child(1) {
            bottom: 0;
            right: 0;
        }

        &:nth-child(2) {
            top: 0;
            left: 0;
            rotate: 180deg;
        }
    }
}

@mixin cta-style {
    background: linear-gradient(90deg, var(--blue-color) 25%, var(--blue-color-light) 50%, var(--blue-color) 75%);
    background-size: 200% 100%;
    animation: shimmer 5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

@keyframes shimmer {
    0% {
        background-position: 200% 0;
    }

    50% {
        background-position: 0 0;
    }

    100% {
        background-position: -200% 0;
    }
}


@mixin icon-drop-down {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;

    &.rotateClosed {
        transform: rotate(90deg);
    }

    &.rotateOpen {
        transform: rotate(-90deg);
    }
}

@mixin parse-html {
    h3 {
        margin: 1rem 0;
    }

    ul+p,
    p+ul,
    p+p {
        margin-top: 1.5rem;
    }

    ul {
        li {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;

            &::before {
                content: '✔️';
                margin-right: 0.5rem;
                font-size: var(--font-size-14);
            }

            p {
                margin: 0;
            }
        }
    }

    ol {
        li {
            list-style-type: decimal !important;
            list-style-position: outside;
            margin: 1rem;
            padding-left: 1rem;

            p {
                margin: 0;
            }
        }
    }
}

@mixin auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-m);
    width: 500px;

    @include mobile-l {
        width: 100%;
    }

    input {
        border: 1px solid var(--blue-color);
    }

    .error {
        color: var(--error-color);
    }
}