@import './media-queries';

@mixin section-style {
    width: 1280px;
    margin: auto;

    @include desktop-m {
        width: 1100px;
    }

    @include mobile-l {
        width: 100%;
        padding: 0 20px;
    }
}

@mixin decorate-style {
    position: relative;
    overflow: hidden;

    > svg {
        position: absolute;
        width: 300px;
        opacity: 0.7;

        &:nth-child(1) {
            bottom: 0;
            right: 0;
        }

        &:nth-child(2) {
            top: 0;
            left: 0;
            rotate: 180deg;
        }
    }
}