@use './media-queries' as mq;

@mixin section-style {
    z-index: 1;
    width: 1280px;
    margin: auto;

    @include mq.desktop-m {
        width: 1100px;
        padding: 0 40px;
    }

    @include mq.tablet-l {
        width: 100%;
        padding: 0 30px;
    }

    @include mq.mobile-l {
        width: 100%;
        padding: 0 20px;
    }
}

@mixin decorate-style {
    position: relative;
    overflow: hidden;

    > svg {
        position: absolute;
        width: 300px;
        opacity: 0.7;
        z-index: 0;

        @include mq.tablet-l {
            width: 200px;
        }

        @include mq.mobile-xl {
            width: 150px;
        }

        &:nth-child(1) {
            bottom: 0;
            right: 0;
        }

        &:nth-child(2) {
            top: 0;
            left: 0;
            rotate: 180deg;
        }
    }
}