* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none; 
    -webkit-user-drag: none; 
}

body {
    font-family: var(--font-family);
}

main {
    overflow: hidden;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
}

button {
    cursor: pointer;
    border: none;
}