@import './fonts';

:root {
    --blue-color: #222f52;
    --pink-color: #e08478;
    --peach-color: #f6d9bb;
    --white-color: #FFFFFF;

    --font-family-unbounded: 'Unbounded';
    --font-family-geometria600: 'Geometria-600';
    --font-family-geometria500: 'Geometria-500';
    --font-family-geometria400: 'Geometria-400';
}