@use './fonts';

:root {
    --blue-color: #222f52;
    --blue-color-light: #2d5a9e;
    --blue-opacity80: rgba(34, 47, 82, 0.8);
    --blue-opacity60: rgba(34, 47, 82, 0.6);
    --blue-opacity40: rgba(34, 47, 82, 0.4);
    --blue-opacity20: rgba(34, 47, 82, 0.2);
    --pink-color: #e08478;
    --pink-opacity60: hsla(7, 63%, 67%, 0.6);
    --pink-opacity40:hsla(7, 63%, 67%, 0.4);
    --peach-color: #f6d9bb;
    --peach-opacity20: rgba(246, 217, 187, 0.2);
    --white-color: #FFFFFF;
    --error-color: red;

    --box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    --text-shadow: 2px 2px 4px var(--blue-opacity40);

    --font-family-unbounded: 'Unbounded';
    --font-family-geometria600: 'Geometria-600';
    --font-family-geometria500: 'Geometria-500';
    --font-family-geometria400: 'Geometria-400';
    
    //TODO
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-24: 24px;
    --font-size-32: 32px;
    --font-size-42: 42px;
    --font-size-48: 48px;

    --text-indent: 20px;
}