@use '@/app/styles/mixin' as *;
@use '@/app/styles/media-queries' as *;

.main {
    @include mobile-xl {
        gap: var(--gap-l);
    }
}

.news_title {
    @include section-style;

    @include mobile-xl {
        flex-direction: column;
        gap: var(--gap-xl);
    }

    >div:nth-child(1) {
        @include tablet-m {
            width: 60%;
        }

        @include mobile-xl {
            width: 100%;
        }
    }

    >div:nth-child(2) {
        @include mobile-xl {
            width: 100%;
        }
    }
}