@use '@/app/styles/mixin' as *;

.includedList {
    @include parse-html;
    
    ul {
        li {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;

            &::before {
                content: '✔️';
                margin-right: 1rem;
                font-size: var(--font-size-14);
            }

            p {
                margin: 0;
            }
        }
    }
}

.notIncludedList {
    ul {
        li {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;

            &::before {
                content: '❌';
                margin-right: 1rem;
                font-size: var(--font-size-14);
            }

            p {
                margin: 0;
            }
        }
    }
}