@use '@/app/styles/media-queries' as *;

.mobileFilterContainer {
    margin-right: auto;

    .mobileFilter {
        position: fixed; 
        top: 0;
        left: 0;
        z-index: 105;
        height: auto;
        width: 100%;
        background-color: var(--blue-opacity20);
        transform: translateY(-100%); 
        opacity: 1;
        transition: all 0.5s ease; 
        pointer-events: all;

        &.open {
            transform: translateY(0%); 
            opacity: 1;
        }

        &.closed {
            transform: translateY(100%); 
            opacity: 0;
        }

        .mobileFilterBar {
            position: relative;
            width: 500px;
            padding: 20px;
            height: 100vh;
            background-color: white;
            box-shadow: var(--box-shadow);
            overflow-y: scroll;

            @include mobile-xl {
                width: 100%;
            }

            .btnClose {
                position: sticky;
                top: 0;
                width: 100%;
                background-color: var(--white-color);
                justify-content: flex-end;
                z-index: 10;
            }
            
            .btn_submit {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                max-width: 500px;
                height: 70px;
                padding: 10px;
                z-index: 10;

                @include mobile-xl {
                    height: 50px;
                    max-width: 100%;
                }
            }
            
        }
    }


    .menu_btn_container {
        position: relative;

        .toggleButton {
            position: relative;
            display: flex;
            width: auto;
            padding: 0;
            background-color: transparent;
            cursor: pointer;

            > div {
                display: none;
            }
        }

        .activeFiltersBadge {
            position: absolute;
            width: fit-content;
            height: fit-content;
            padding: 5px;
            border-radius: 50%;
            background-color: var(--pink-color);
            top: 0;
            right: -10px;
        }
    }
}
