form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    gap: var(--gap-m);

    .error {
        color: var(--error-color);
    }

    .password {
        position: relative;
        width: 100%;

        input {
            border: 1px solid var(--blue-color);
        }

        .password_btn {
            display: flex;
            background: none;
            position: absolute;
            top: 50%;
            right: 24px;
    
            svg {
                color: var(--blue-color);
            }
        }
    }
}