@use '@/app/styles/mixin' as mixin;

form {
    @include mixin.auth_form;

    .password {
        position: relative;
        width: 100%;

        input {
            border: 1px solid var(--blue-color);
        }

        .password_btn {
            display: flex;
            background: none;
            position: absolute;
            top: 50%;
            right: 24px;
    
            svg {
                color: var(--blue-color);
            }
        }
    }
}