@use '@/app/styles/mixin.scss' as mixin;
@use '@/app/styles/media-queries.scss' as mq;

@mixin afterElement($width: 0) {
    &:after {
        display: block;
        left: 0;
        width: $width;
        height: 2px;
        background-color: var(--white-color);
        content: "";
        transition: width 0.3s ease-out;
    }
}

.navbar {
    background-color: var(--blue-color);
    position: fixed;
    z-index: 4;
    top:0;

    @include mq.tablet-l {
        display: none;
    }
}

.navbarContainer {
    @include mixin.section-style;
}

.logo_container {
    svg:first-child {
        width: 90px;
        height: 70px;
    }
}

.logo {
    width: 100px;
}

.link {
    text-decoration: none;
    font-size: var(--font-size-16);
    color: var(--white-color);
    text-transform: uppercase;
    font-family: var(--font-family-geometria500);
}

.default {
    font-weight: 400;
    @include afterElement(0);

    &:hover {
        transition: color 0.3s ease-out;
    }


    &:hover:after,
    &:focus:after {
        width: 100%;
    }
}

.opened_page {
    font-weight: 600;
    @include afterElement(100%);
} 