@use '@/app/styles/mixin.scss' as mixin;

@mixin afterElement($width: 0) {
    &:after {
        display: block;
        left: 0;
        width: $width;
        height: 2px;
        background-color: var(--blue-color);
        content: "";
        transition: width 0.3s ease-out;
    }
}

.navbar {
    position: sticky;
    top: 70px; 
    z-index: 10; 
    background-color: var(--white-color);
    height: 70px;
}

.navbarContainer {
    @include mixin.section-style;
}

.logo {
    width: 100px;
}

.link {
    text-decoration: none;
    font-size: var(--font-size-16);
    color: var(--blue-color);
    text-transform: uppercase;
    font-family: var(--font-family-geometria500);
}

.default {
    font-weight: 400;
    @include afterElement(0);

    &:hover {
        transition: color 0.3s ease-out;
    }


    &:hover:after,
    &:focus:after {
        width: 100%;
    }
}

.opened_page {
    font-weight: 600;
    @include afterElement(100%);
} 