@use '@/app/styles/media-queries' as *;

.sheduleItem_container {
    width: 100%;
    cursor: pointer;

    .tour_info {
        width: 100%;
        background: rgb(34 47 82 / 10%);
        padding: 10px;
        border-radius: 16px;

        @include mobile-l {
            p {
                font-size: 16px;
            }
        }

        :nth-child(1) {
            flex-basis: 27%;
            @include mobile-l {
                flex-basis: 10%;
            }
        }
        :nth-child(2) {
            flex-basis: 43%;
            @include mobile-l {
                flex-basis: 55%;
            }
        }
    
        .quantity_places {
            background-color: var(--pink-opacity40);
            padding: 3px 10px;
            border-radius: 16px;
            text-align: center;
            width: 80px;
            flex-basis: 25%;

            @include mobile-l {
                padding: 3px 5px;
            }

            &.soldout {
                background-color: transparent;
                color: var(--error-color);
            }
        }
    }
}


