$font-size-12: var(--font-size-12);
$font-size-14: var(--font-size-14);
$font-size-16: var(--font-size-16);
$blue: var(--blue-color);
$white: var(--white-color);
$pink: var(--pink-color);
$peach: var(--peach-color);

$sizes: (
    12: $font-size-12,
    14: $font-size-14,
    16: $font-size-16,
);

$colors: (
    blue: $blue,
    white: $white,
    pink: $pink,
    peach: $peach,
);

@each $name, $size in $sizes {
    .size-#{$name} {
        font-size: $size;
    }
}

@each $name, $color in $colors {
    .#{$name} {
        color: $color;
    }
}