@use '@/app/styles/mixin' as mixins;
@use '@/app/styles/media-queries' as mq;

.main {
    width: 100%;
    overflow: hidden;
}

.subscriptionContainer {
    background-color: var(--peach-opacity20);
    width: 100%;
    height: 450px;
    @include mixins.decorate-style;

    @include mq.mobile-xl {
        height: auto;
        padding: 50px 0
    }

    .subscription {
        @include mixins.section-style;

        > div:nth-child(1) {
            width: 100%;
            text-align: center;
            > div {
                align-items: center;
            }

            p {
                @include mq.mobile-xl {
                    font-size: 18px;
                }

                @include mq.mobile-l {
                    font-size: 16px;
                }
            }
        }

        form {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            height: 100px;
            gap: 16px;

            @include mq.mobile-xl {
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                height: 130px;
                width: 100%;
                gap: 8px;
            }
    

            > div {
                width: 100%;
                > div > input {
                    position: relative;
                    width: 416px;
                    height: 70px;
                    padding-left: 70px;
                    -webkit-appearance: none;
                    appearance: none;
                    box-shadow: var(--box-shadow);
                    -webkit-box-shadow: var(--box-shadow);
                    -moz-box-shadow: var(--box-shadow);
                    -ms-box-shadow: var(--box-shadow);
                    -o-box-shadow: var(--box-shadow);

                    @include mq.mobile-xl {
                        width: 100%;
                        height: 50px;
                    }
                }
            }

            > svg {
                position: absolute;
                border-radius: 50%;
                background-color: var(--blue-color);
                height: 50px;
                width: 50px;
                padding: 9px;
                left: 8px;
                transform: translateY(20%);
                z-index: 2;

                @include mq.mobile-xl {
                    transform: translateY(12%);
                    height: 40px;
                    width: 40px;
                }
            }

            button {
                font-weight: 600;
                padding: 22px 44px;

                @include mq.mobile-xl {
                    padding: 12px 44px;
                }
            }
        }
    }
}
