@use '@/app/styles/mixin' as mixin;
@use '@/app/styles/media-queries' as media;


.our_tours_title {
    @include mixin.section-style;

    @include media.tablet-m {
        flex-direction: column;
        gap: 32px;
    }
}

.our_tours_container {
    width: calc(100vw - ((100vw - 1280px) / 2));
    margin-left: auto;
    overflow: hidden;
    cursor: grab;
    padding: 10px;

    @include media.desktop-m {
        width: calc(100vw - ((100vw - 1110px) / 2));
        padding: 10px 40px;
    }

    @include media.tablet-l {
        width: 100%;
        padding: 10px 30px;
        margin: auto;
    }

    @include media.mobile-l {
        padding: 10px 20px;
    }
}

.swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.swiper_track {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.swiper_slide {
    padding: 16px;
    width: 100%;
}

