.runningLine {
    overflow: hidden;          
    background-color: var(--blue-color); 
    padding: 0;                   
}

.runningText {
    width: calc(49% * 2);
    animation: scroll 40s linear infinite;
    white-space: nowrap;  

    p {
        letter-spacing: 2px;
        opacity: 60%;
    }
    svg {
        width: 70px;
        height: 70px;
    }
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%); 
    }
}