.runningLine {    
    background-color: var(--blue-color); 
    padding: 0;                   
}

.runningText {
    p {
        letter-spacing: 2px;
        opacity: 60%;
    }
    svg {
        margin-left: 16px;
        width: 70px;
        height: 70px;
    }
}