@use '@/app/styles/media-queries' as *;

.tours_container {
    position: relative;

    @include mobile-l {
        gap: 0;
    }

    .filter_panel {
        background-color: var(--white-color);
        width: 100%;
        padding: 20px 0;

        &.open {
            z-index: 101;
        }

        @include tablet-l {
            justify-content: space-between;
        }

        @include mobile-l {
            align-items: flex-end;
            justify-content: space-between;
            height: 140px;
        }

        .filter_panel_btn {
            align-self: flex-end;
        }

        .button {
            width: auto;
            cursor: pointer;
    
            @include mobile-l {
                position:absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }

    .our_tours {
        width: 100%;
        padding: 5px;
        overflow: hidden;

        > article {
            flex: 1 1 calc(33% - 16px); 
            max-width: calc(32.5% - 16px);
            height: 450px;

            img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }

            @include tablet-m {
                flex: 1 1 calc(50% - 16px); 
                max-width: calc(50% - 16px);
            }
            @include tablet-m {
                height: 500px;

                img {
                    height: 300px;
                }
            }

            @include mobile-l {
                flex: 1 1 100%;
                max-width: 100%;

                img {
                    height: 350px;
                }
            }
        }
    }
}