$gaps: (
    4: var(--gap-xs),
    8: var(--gap-s),
    16: var(--gap-m),
    24: var(--gap-l),
    32: var(--gap-xl),
    48: var(--gap-xxl),
    64: var(--gap-xxxl)
);

@each $gap, $value in $gaps {
    .gap#{$gap} {
        gap: #{$value};
    }
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
    justify-content: center;
}

.justifyEnd {
    justify-content: flex-end;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyAround {
    justify-content: space-around;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
    align-items: center;
}

.alignEnd {
    align-items: flex-end;
}

.alignStretch {
    align-items: stretch;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

//TODO - удалить после проверки
// .gap4 {
//     gap: var(--gap-xs);
// }

// .gap8 {
//     gap: var(--gap-s);
// }

// .gap16 {
//     gap: var(--gap-m);
// }

// .gap24 {
//     gap: var(--gap-l);
// }

// .gap32 {
//     gap: var(--gap-xl);
// }

// .gap48 {
//     gap: var(--gap-xxl);
// }

// .gap64 {
//     gap: var(--gap-xxxl);
// }

.max {
    width: 100%;
}