@use '@/app/styles/media-queries.scss' as mq;

.statists {
    background-color: var(--blue-color);
    border-radius: 24px;
    padding: 20px 40px;
}

.statists_item {
    flex: 1;
    position: relative;

    &:not(:last-child)::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1.1px;
        height: 70%; 
        background-color: var(--white-color)
    }
}

.value {
    @include mq.tablet-l {
        font-size: var(--font-size-24);
    }
}

.label {
    text-align: center;

    @include mq.tablet-l {
        font-size: var(--font-size-18);
    }
}