@use '@/app/styles/mixin' as *;

.main {
    @include section-style;

    & {
        margin-top: 30px; //TODO
        margin-bottom: 50px; //TODO
    }
}

.swiper_img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: var(--box-shadow);
}