@use '@/app/styles/mixin' as *;
@use '@/app/styles/media-queries.scss' as *;

.main {
    @include section-style;

    & {
        margin-top: 30px; //TODO
        margin-bottom: 50px; //TODO
    }
}

.sticky_container {
    display: flex;
    justify-content: space-between;
    gap: 48;
    width: 100%;

    @include tablet-l {
        flex-direction: column-reverse;
    }
}

.tour_container {
    width: 60%;

    hr {
        height: 1px;
        width: 100%;
        background-color: var(--pink-color);
        border: none;
        margin: 32px 0;
    }


    @include tablet-l {
        width: 100%;
    }
}