@use '@/app/styles/media-queries' as media;

.cardBlogsContainer {
    position: relative;
    width: 852px;
    padding: 30px;
    border-radius: 24px;
    box-shadow: var(--box-shadow);
    height: 500px;


    .read_more {
        position: absolute;
        padding: 30px;
        bottom: -10px;
        right: 0;
        z-index: 10;
    }

    >div {
        position: relative;

        .imagesContainer {
            position: relative;

            img {
                border-radius: 24px;
                width: 360px;
                box-shadow: var(--box-shadow);
                object-fit: cover;
            }

            p {
                position: absolute;
                border-radius: 16px 16px 0 0;
                background-color: var(--blue-color);
                color: var(--white-color);
                border: 3.5px solid var(--white-color);
                border-bottom: none;
                padding: 10px 20px;
                bottom: 0;
            }
        }

        >div:nth-child(2) {
            position: relative;
            width: 400px;

            .anotherImage {
                width: 100%;
                height: 170px;
                border-radius: var(--border-radius);
                overflow: hidden;
                position: relative;
                box-shadow: var(--box-shadow);

                p {
                    display: none;
                }

                img {
                    width: calc(100% / 2.99);
                    height: 100%;
                    object-fit: cover;
                }
            }

            .textContainer {
                .description {
                    text-indent: var(--text-indent);
                    text-align: justify;
                    height: 110px;
                    line-height: 24px;
                }
            }
        }
    }
}