@use '@/app/styles/mixin' as *;
@use '@/app/styles/media-queries.scss' as *;

.aboutUsContainer {
    width: 100%;

    > div {
        @include section-style;

        @include tablet-m {
            flex-direction: column-reverse;
        }
    
        .heading {
            height: 200px;
            width: 100%;

            > div {
                height: 100%;
            }
        }
    }

    img {
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        object-fit: cover;

        @include tablet-m {
            align-self: center;
        }
    }

    .img_tablet {
        display: none;

        @include tablet-m {
            display: flex;
            width: 300px;
        }

        @include mobile-xl {
            display: none;
        }
    }

    .img_large {
        width: 430px;

        @include tablet-l {
            width: 300px;
            height: 375px;
        }

        @include mobile-xl {
            width: 100%;
            height: auto;
        }
    }

    .img_small {
        width: 160px;

        @include tablet-l {
            display: none;
        }
    }
}

.desc_text {
    text-indent: var(--text-indent);

    @include mobile-xl {
        text-align: justify;
    }
}

.subtitle {
    > p {
        &:nth-child(1),
        &:nth-child(2) {
            display: block;
        }
    
        &:nth-child(3) {
            display: none;
        }
    }


    @include mobile-xl {
        > p {
            &:nth-child(3) {
                display: block;
            }
    
            &:nth-child(1),
            &:nth-child(2) {
                display: none;
            }
        }
    }
}