@use '@/app/styles/mixin' as mixin;

.aboutUsContainer {
    width: 100%;

    > div {
        @include mixin.section-style;

        .heading {
            height: 200px;
            width: 100%;

            > div {
                height: 100%;
            }
        }
    }
}