@use '@/app/styles/media-queries.scss' as *;

//TODO повтор из формы бронирования
.booking_form {
    padding: 30px 24px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    height: max-content;
    width: 700px;
    position: sticky;
    top: 100px;

    @include tablet-l {
        position: static;
        width: 100%;
        gap: var(--gap-m);
        padding: 24px 16px;
    }

    form {
        width: 100%;
    }

    input {
        border: 1px solid var(--blue-color);
    }

    textarea {
        width: 100%;
        border: 1px solid var(--blue-color);
        color: var(--blue-color);
        background-color: var(--white-color);
        padding: 12px 24px;
        font-family: var(--font-family-geometria500);
    
        &::placeholder,
        &:-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder,
        &::-webkit-input-placeholder {
            font-size: var(--font-size-14);
            color: var(--error-color);
            opacity: 0.8;
        }
    }
}