.breadCrumbsContainer {
    height: 150px;
    
    nav {
        ul {
            display: flex;
            gap: 12px; //TODO - заменить на 8 var(--gap-s) или 16 (--gap-m)

            li {
                display: flex;
                align-items: center;
                gap: 12px; //TODO - заменить на 8 var(--gap-s) или 16 (--gap-m)
                color: var(--peach-color); 
            }
        }
    }
}