@use '@/app/styles/media-queries.scss' as *;
@use '@/app/styles/mixin.scss' as mixin;

.pageTitleContainer {
    width: 100%;
    height: 350px;
    margin-top: 70px;
    background-color: var(--blue-color);
    background-image: url('@/shared/assets/png/page_cloud.png');
    background-position: center;
    background-size: cover;

    @include mobile-xl {
        margin-top: 60px;
    }
}

.breadCrumbsContainer {
    height: auto;
    width: 100%;
    z-index: 3;
    padding-bottom: 2.5rem;
    @include mixin.section-style;

    nav {
        ul {
            display: flex;
            gap: var(--gap-m);

            li {
                display: flex;
                align-items: center;
                gap: var(--gap-m);
                color: var(--peach-color);
            }

            p {
                @include mobile-xl {
                    font-size: var(--font-size-20);
                }
            }
        }
    }

    h2 {
        @include mobile-xl {
            font-size: var(--font-size-20);
            text-align: center;
        }
    }
}