@use '@/app/styles/media-queries.scss' as *;

.rating_main {
    @include mobile-l {
        flex-direction: column;
        gap: var(--gap-m);
        width: 100%;
    }

    .rating_container {
        position: relative;
    }
    
    .rating_btn {
        position: absolute;
        top: 2px;
        right: -30px;
        border: 3px solid var(--white-color);
        width: 59px;
        height: 59px;
    }

    .rating_text {
        @include mobile-l {
            align-items: center;
        }
    }
}