@use '@/app/styles/mixin' as *;
@use '@/app/styles/media-queries' as *;

.not_found {
    @include decorate-style;

    & {
        margin-top: 70px;

        @include tablet-l {
            margin-top: 80px;
        }

        @include mobile-xl {
            margin-top: 60px;
        }
    }
}

.content {
    @include section-style;

    & {
        height: 100vh;
    }

    h1 {
        font-size: 150px;
    }

    @include mobile-xl {
        h2 {
            font-size: 1.5rem;
        }
        
        p {
            font-size: 1.25rem;
        }

        .link {
            width: 100%;
        }
    }
}