@use '@/app/styles/media-queries.scss' as mq;

.preview_container {
    position: relative;

    @include mq.tablet-m {
        align-self: flex-end;
    }
    
    @include mq.mobile-l {
        width: 100%;
    }

    span {
        position: absolute;
        top: -18px;
        right: -18px;
    }
}

.header {
    font-size: 42px; //TODO
    color: var(--pink-color);
    text-shadow: var(--text-shadow);

    @include mq.tablet-m {
        font-size: var(--font-size-32);
        text-align: center;
        width: 100%;

        br {
            display: none;
        }
    }

    @include mq.mobile-xl {
        font-size: 42px; //TODO

        br {
            display: block;
        }
    }

    @include mq.mobile-l {
        font-size: var(--font-size-24);
        
        br {
            display: block;
        }
    }

    span {
        color: var(--blue-color);
    }
}

.description_text {
    text-indent: 20px;

    @include mq.mobile-xl {
        text-align: justify;
    }
}