@use '@/app/styles/media-queries.scss' as *;

.preview_container {
    position: relative;

    @include tablet-m {
        align-self: flex-end;
    }
    
    @include mobile-l {
        width: 100%;
    }

    span {
        position: absolute;
        top: -18px;
        right: -18px;
    }
}

.header {
    font-size: var(--font-size-42); 
    color: var(--pink-color);
    text-shadow: var(--text-shadow);

    @include mq.tablet-m {
        font-size: var(--font-size-32);
        text-align: center;
        width: 100%;

        br {
            display: none;
        }
    }

    @include mobile-xl {
        font-size: var(--font-size-42);

        br {
            display: block;
        }
    }

    @include mobile-l {
        font-size: var(--font-size-24);
        
        br {
            display: block;
        }
    }

    span {
        color: var(--blue-color);
    }
}

.description_text {
    text-indent: var(--text-indent);

    @include mobile-xl {
        text-align: justify;
    }
}