@use '@/app/styles/media-queries.scss' as *;

.travel_card {
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    padding: 24px;
    width: 100%;
}

.locations_container {
    @include tablet-m {
        flex-direction: column;
    }
}

.plane_icon {
    color: var(--pink-color);
    transform: rotate(-90deg);
}