@use '../../../app/styles/mixin.scss' as mixin;

.pageTitleContainer {
    width: 100%;
    height: 300px;
    margin-top: 60px;
    background-color: var(--blue-color);
    background-image: url('../../../shared/assets/png/page_cloud.png');
    background-position: center;
    background-size: cover;
}