@import '@/app/styles/mixin.scss';

.header {
    position: fixed;
    z-index: 2;
    top:0;
    background-color: var(--blue-color);
}

.header_content {
    @include section-style;
    height: 70px;

    p {
        text-transform: uppercase;
    }
}