@use '@/app/styles/mixin.scss' as mixin;

.header {
    background-color: var(--blue-color);
}

.header_content {
    @include mixin.section-style;
    height: 70px;

    p {
        text-transform: uppercase;
    }
}