@use '@/app/styles/media-queries' as *;

.badSearch_container {
    background-color: var(--blue-opacity10);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 20px;
    width: 100%;
    grid-column: 1 / -1;

    svg {
        width: 100px;
        height: 100px;

        path, circle {
            color: var(--pink-color);
        }
    }

    h2, p {
        text-align: center;
    }

    button {
        width: 300px;

        @include mobile-l {
            width: 100%;
        }
    }
}
