@use '@/app/styles/mixin' as mixin;
@use '@/app/styles/media-queries' as *;

.aboutGuideContainer {
    @include mixin.section-style;

    & {
        margin-bottom: 50px;
    }
    
    
    .founder_container {
        position: relative;
        padding: 10px;

        .founder {
            border-radius: var(--border-radius);
            box-shadow: var(--box-shadow);
            background-color: var(--white-color);
            flex: 1;

            @include tablet-m {
                flex-direction: column;
            }

            .founder_about {
                position: relative;
                align-self: stretch;
                padding: 20px;
                flex: 1;

                p {
                    text-indent: var(--text-indent);
                }

                @include tablet-l {
                    h3 {
                        font-size: var(--font-size-18);
                    }
                }
            }

            .svg {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;
                color: var(--blue-color);
                opacity: 0.1;
            }
            .image {
                flex: 2;
                max-height: 600px;
                object-fit: cover;
                border-radius: 0 16px 16px  0;

                @include tablet-l {
                    max-height: 700px;
                }

                @include tablet-m {
                    width: 100%;
                    border-radius: 0 0 16px 16px;
                }

                @include tablet-m {
                    max-height: 350px;
                }
            }
        }
    }

    .aboutGuide {
        padding: 10px;

        @include mobile-xl {
            flex-direction: column;
        }
    }
}