@use '@/app/styles/mixin.scss' as mixin;

.hero {
    background-color: var(--peach-opacity20);
    @include mixin.decorate-style;
}

.hero_content {
    @include mixin.section-style;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 100px;
}