@use '@/app/styles/media-queries.scss' as mq;
@use '@/app/styles/mixin.scss' as mixin;

.hero {
    @include mixin.decorate-style;

    & {
        background-color: var(--peach-opacity20);
    }
}

.content_desktop {
    @include mixin.section-style;

    & {
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 100px;

        @include mq.tablet-l {
            gap: 48px;
        }
    }

    @include mq.tablet-l {
        display: none;
    }
}

.content_mobile {
    @include mixin.section-style;

    & {
        display: none;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    @include mq.tablet-l {
        display: flex;
    }
}