@use '@/app/styles/media-queries.scss' as *;
@use '@/app/styles/mixin.scss' as *;

.hero {
    @include decorate-style;

    & {
        background-color: var(--peach-opacity20);
    }
}

.content_desktop {
    @include section-style;

    & {
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 100px;

        @include tablet-l {
            gap: var(--gap-xxl);
        }
    }

    @include tablet-l {
        display: none;
    }
}

.content_mobile {
    @include section-style;

    & {
        display: none;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    @include tablet-l {
        display: flex;
    }
}