.testimonial {
    background-color: var(--white-color);
    border-radius: 16px;
    padding: 20px;
    position: relative;
    box-shadow: var(--box-shadow);
    min-height: max-content;

    button {
        color: var(--blue-color);
        font-size: var(--font-size-18);
        font-family: var(--font-family-geometria500);
        align-self: flex-end;
    }
}

.feedback_text {
    text-indent: 20px;
    z-index: 1;
}

.tourist_text {
    z-index: 1;
}

.backtics_container {
    position: absolute;
    right: 35px;
    top: 35px;
}