@use '@/app/styles/media-queries.scss' as mq;

.timeContainer {
    width: 100%;

    &.timer_earlyBook {
        gap: var(--gap-xl);
        width: 522px;

        @include mq.desktop-m {
            width: 100%;
            gap: var(--gap-s);
        }

        @include mq.tablet-l {
            gap: var(--gap-l);
        }

        @include mq.mobile-l {
            gap: var(--gap-s);
            padding: 0 10px;
        }

        > div {
            gap: var(--gap-s);
            width: 70px;

            @include mq.desktop-m {
                width: 50px;
            }
    
            @include mq.tablet-l {
                width: 70px;
            }

            @include mq.mobile-l {
                width: 50px;
            }

            > p:nth-child(1) {
                color: var(--blue-color);
                font-size: 32px;
                font-family: var(--font-family-geometria500);

                @include mq.tablet-m {
                    font-family: var(--font-family-geometria600);
                }

                @include mq.mobile-xl {
                    font-size: 24px;
                }
            }
    
            > p:nth-child(2) {
                color: var(--blue-color);
                font-size: 24px;
                font-family: var(--font-family-geometria400);

                @include mq.tablet-m {
                    font-family: var(--font-family-geometria500);
                }

                @include mq.mobile-xl {
                    font-size: 18px;
                }
            }
        }

        > span {
            color: var(--blue-color);
            font-size: 32px;
            font-family: var(--font-family-geometria600);
        }
    }

    &.timerCard {
        gap: var(--gap-s);
        width: 276px;
        background: var(--blue-color);
        height: 70px;
        border-radius: 24px;

        > div {
            width: 50px;
            > p:nth-child(1) {
                color: var(--peach-color);
                font-size: var(--font-size-24);
                font-family: var(--font-family-geometria500);
            }
    
            > p:nth-child(2) {
                color: var(--peach-color);
                font-family: var(--font-family-geometria400);
                font-size: var(--font-size-16);
            }
        }

        > span {
            color: var(--peach-color);
            font-size: var(--font-size-24);
            font-family: var(--font-family-geometria500);
        }
    }
}
