@use '@/app/styles/media-queries' as media;

.cardBlogsContainer {
    width: auto;
    padding: 30px;
    border-radius: 24px;
    box-shadow: var(--box-shadow);
    height: 500px;

    @include media.tablet-l {
        width: 100%;
    }

    > div { 
        position: relative;

        .imagesContainer {
            position: relative; 
    
            img {
                border-radius: 24px;
                width: 360px;
                box-shadow: var(--box-shadow);

                @include media.tablet-l {
                    width: 45vw;
                }
            }
    
            p {
                position: absolute;
                border-radius: 16px 16px 0px 0px;;
                background-color: var(--blue-color);
                color: var(--white-color);
                border: 3.5px solid var(--white-color);
                border-bottom: none;
                padding: 10px 20px;
                bottom: 0; 
            }
        }
    
        > div:nth-child(2) {
            position: relative;
            width: 400px;

            @include media.tablet-l {
                width: 300px;
            }

            .anotherImage {
                width: 100%;
                height: 130px;
                border-radius: 16px;
                overflow: hidden;

                img {
                    flex: 1 1 calc(33%); 
                    max-width: calc(34%);
                }
            }

            .list {
                display: flex;
                flex-direction: column;
                gap: 16px;
            }

            .description {
                height: 110px;
            }
            
            .read_more {
                align-self: flex-end;
            }
        }
    }
}

