.cardBlogsContainer {
    height: 720px;
    width: 400px;
    padding: 20px;
    background-color: var(--peach-opacity20);
    border-radius: 24px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    .imagesContainer {
        position: relative; 
        

        img {
            border-radius: 24px;
            width: 360px;
        }

        p {
            position: absolute;
            border-radius: 16px 16px 0px 0px;;
            background-color: var(--blue-color);
            color: var(--white-color);
            border: 3.5px solid var(--white-color);
            border-bottom: none;
            padding: 10px 20px;
            bottom: 0; 
        }
    }

    > div:nth-child(2) {
        width: 100%;
        height: 250px;

        > a {
            width: auto;
            margin-top: auto;
            color: var(--blue-color);
            font-size: 18px;
            font-weight: 500;
        }
    }
}