.input {
    border: var(--border-input);
    font-size: var(--font-size-18);
    transition: border-color 0.3s ease;
    color: var(--blue-color);
    background-color: var(--white-color);
    width: 100%;
    padding: 17px;
    font-family: var(--font-family-geometria500);
    -webkit-appearance: none;
    appearance: none;

    &::placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::-webkit-input-placeholder {
        font-size: var(--font-size-14);
        color: var(--error-color);
        opacity: 0.8;
    }
}

.error {
    border-color: var(--error-color);
}

.errorMessage {
    font-size: var(--font-size-16);
    font-family: var(--font-family-geometria500);
    color: var(--error-color);
    height: 18px;
}

.label {
    font-size: var(--font-size-18);
    font-family: var(--font-family-geometria500);
    color: var(--blue-color);
    font-weight: 500;
}
