@use '@/app/styles/media-queries.scss' as mq;

.wrapper {
    position: relative;

    input {
        background-color: var(--white-color);
        padding: 14px 24px 14px 50px;
        border-radius: 50px;
        border: none;
        font-family: var(--font-family-geometria400);
        width: 100%;
        font-size: var(--font-size-18);

        -webkit-appearance: none;
        appearance: none;
        box-shadow: var(--box-shadow);
        -webkit-box-shadow: var(--box-shadow);
        -moz-box-shadow: var(--box-shadow);
        -ms-box-shadow: var(--box-shadow);
        -o-box-shadow: var(--box-shadow);

        @include mq.mobile-l {
            font-size: var(--font-size-16);
        }

        &:focus {
            box-shadow: 0 0 0 2px var(--pink-opacity60);
            outline: none; 
        }
    }
}