.sliders_container {
    overflow: hidden;
    width: 466px;
    box-shadow: var(--box-shadow);
    border-radius: 24px;
}

.slider_item {
    transition: transform .8s ease-in-out;
}

.btn_container {
    z-index: 1;
}