@use '@/app/styles/mixin.scss' as mixin;
@use '@/app/styles/media-queries' as mq;

.testimonials {
    background-color: var(--peach-opacity20);
    @include mixin.decorate-style;
}

.testimonials_content {
    padding-top: 70px;
    padding-bottom: 70px;

    @include mixin.section-style;

    @include mq.desktop-m {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include mq.tablet-l {
        padding-top: 70px;
        padding-bottom: 70px;
        gap: 24px;
    }

    @include mq.mobile-xl {
        padding-left: 10px;
        padding-right: 10px;
        
        h3, h2 {
            align-self: center;
            text-align: center;
            width: 80%;
        }
    }
}