@use '@/app/styles/media-queries' as *;

.tours_container {
    width: calc(100vw - ((100vw - 1280px) / 2));
    margin-left: auto;
    overflow: hidden;
    cursor: grab;
    padding: 10px;

    @include desktop-m {
        width: calc(100vw - ((100vw - 1110px) / 2));
        padding: 10px 40px;
    }

    @include tablet-l {
        width: 100%;
        padding: 10px 30px;
        margin: auto;
    }

    @include mobile-l {
        padding: 10px 20px;
    }
}