@use '@/app/styles/mixin' as mixin;
@use '@/app/styles/media-queries' as *;

.timerContainer {
    @include mixin.section-admin-style;

    .header_admin {
        position: sticky;
        top: 50px;
        left: 0;
        z-index: 10;
        background-color: var(--white-color);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        padding: 1rem 2.5rem;
        width: calc(100% + 5rem);

        @include mobile-xl {
            align-items: center;
            text-align: center;
            padding-top: 0.5rem;
            padding: 1rem;
            width: calc(100% + 2rem);

            h2 {
                font-size: var(--font-size-20);
            }
        }

        .button_container {
            @include tablet-l {
                flex-direction: column;
                gap: var(--gap-m);
            }
            .button {
                display: flex;
                align-items: center;
                gap: var(--gap-m);
                padding: 0 1rem;
            }
        }
    }

    .form {
        position:  relative;
        display: flex;
        flex-direction: column;
        gap: var(--gap-xl);
        width: 100%;
    
        > div {
            gap: var(--gap-m);
        }
    
        label {
            font-size: var(--font-size-18);
            color: var(--black-color);
            font-family: var(--font-family-geometria500);
        }
    
        input {
            width: 100%;
            height: 38px;
            padding: 8px;
            border: 1px solid #d1d5db;
            border-radius: 6px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
            transition: border-color 0.2s, box-shadow 0.2s;
    
            &:focus {
                border-color: var(--pink-color);
                box-shadow: 0 0 0 1px var(--pink-color);
                outline: none;
            }
        }

        .date_container {
            @include mobile-l {
                flex-direction: column;
            }
        }
    }
}

