@use '@/app/styles/media-queries' as *;

.tours_container {
    position: relative;


    .filter_panel {
        width: 100%;

        &.open {
            z-index: 104;
        }

        @include mobile-l {
            align-items: flex-end;
            height: 120px;
        }

        .filter_panel_btn {
            align-items: flex-end;
        }

        .button {
            width: 200px;
    
            @include mobile-l {
                position:absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }
    
    .our_tours {
        display: grid;
        width: 100%;
        padding: 5px;
        gap: var(--gap-l);
        grid-template-columns: repeat(3, 1fr);
    
        > article {
            width: 100%;
            height: 100%;
    
            img {
                width: 100%;
                height: 280px;
                object-fit: cover;
            }
        }
    
        @include desktop-m {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include tablet-m {
            > article img {
                height: 300px;
            }
        }

        @include mobile-l {
            grid-template-columns: repeat(1, 1fr);
    
            > article img {
                height: 350px;
            }
        }
    }
    
}