@use '@/app/styles/media-queries' as *;

.main {
    display: grid;
    grid-template-areas:
        "large small-1 small-2"
        "large small-3 small-4";
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    height: 450px;
    gap: 16px;
    width: 100%;

    @include tablet-l {
        grid-template-areas:
            "large small-1"
            "large small-4";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 50% 50%;
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
        cursor: pointer;
    }
    
    .image:nth-child(1) {
        grid-area: large;
    }
    
    .image:nth-child(2) {
        grid-area: small-1;
    }
    
    .image:nth-child(3) {
        grid-area: small-2;
    }
    
    .image:nth-child(4) {
        grid-area: small-3;
    }

    .overlay_container {
        position: relative;
        grid-area: small-4;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.5);
        font-weight: bold;
        border-radius: 16px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.accommodation {
    display: flex;
    justify-content: space-between;
    gap: 8px;

    .image {
        width: 250px;
        height: 200px;
        object-fit: cover;
        border-radius: 16px;
        cursor: pointer;
    }

    .overlay_container {
        position: relative;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 16px;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        font-weight: bold;
        border-radius: 16px;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }
}
