@use '@/app/styles/media-queries.scss' as mq;

.title_section {
    @include mq.mobile-l {
        gap: 8px;
    }

    h3 {
        @include mq.mobile-l {
            font-size: 20px;
        }
    }

    h2 {
        @include mq.tablet-l {
            font-size: var(--font-size-24);
        }
    }
}