@use '@/app/styles/media-queries.scss' as *;

main {
    .scrollImages {
        width: 100%;
        overflow: hidden;

        > div {
            @include mobile-l {
                gap: var(--gap-s);
            }

            img {
                width: 70%;
                height: 250px;
                object-fit: cover;
                border-radius: 16px;
            }
        }
    }
}

.text_container {
    p {
        margin-bottom: 8px;
        text-indent: var(--text-indent);
        text-align: justify;
    }
}