@use '@/app/styles/mixin/' as *;

.statistic {
    @include section-style;

    .statistic_item {
        background-color: var(--blue-color);
        border-radius: var(--border-radius);
        padding: 20px;
        width: 100%;
        max-height: 230px;

        .svg {
            color: var(--peach-color);
        }
    }
}