@use '@/app/styles/mixin' as *;
@use '@/app/styles/media-queries' as *;

main {
    width: 100%;
}

.region {
    background-color: var(--white-color);
}

.tours_page {
    height: 100%;
    @include section-style;

    & {
        margin-bottom: 50px;

        @include mobile-l {
            margin-top: 30px;
        }
    }
}