@use '@/app/styles/mixin' as *;
@use '@/app/styles/media-queries' as *;

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-l);
}

.region {
    background-color: var(--white-color);
}

.tours_page {
    height: 100%;
    @include section-style;

    & {
        margin-bottom: 50px;
    }
}