@use '@/app/styles/mixin.scss' as mixin;
@use '@/app/styles/media-queries.scss' as mq;

.footer {
    background-color: var(--blue-color);
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.footer_container {
    @include mixin.section-style;

    a {
        text-decoration: none;
        color: var(--white-color);
        font-family: var(--font-family-geometria400);
        font-size: var(--font-size-18);
    }

    svg {
        width: 24px;
        height: 24px;
    }

    @include mq.tablet-m {
        flex-direction: column;
        gap: 48px;

        > div:nth-of-type(2) {
            align-items: flex-start;
        }
    }
}

.additional {
    @include mixin.section-style;

    @include mq.tablet-m {
        flex-direction: column;
        gap: 16px;

        br {
            display: none;
        }
    }

    :last-child {
        text-align: right;

        @include mq.tablet-m {
            text-align: left;
        }
    }

    p {
        font-size: 12px;
    }
}
