@use '@/app/styles/media-queries' as *;

.filterBarContainer {
    position: sticky;
    top: 135px;
    width: 330px;

    @include tablet-l {
        width: 100%;
        z-index: 3;
    }

    .btnContainer {
        position: sticky;
        background-color: var(--white-color);
        top: 135px;
        z-index: 3;
        width: 100%;
        padding: 20px 0;

        @include tablet-l {
            top: 40px;
        }
    }
}


