@use '@/app/styles/media-queries' as *;

.filterBarContainer {
    width: 330px;
    height: 100%;

    @include tablet-l {
        width: 100%;
        z-index: 3;
        top: 0;
    }

    .btnContainer {
        position: sticky;
        background-color: var(--white-color);
        top: 135px;
        z-index: 3;
        width: 100%;
        padding: 20px 0;

        @include tablet-l {
            top: 40px;
        }
    }

    .filterBar {
        padding-bottom: 60px;
    } 
}


