@use '@/app/styles/media-queries' as *;

.filterBarContainer {
    position: sticky;
    top: 70px;
    width: 270px;
    height: 100%;

    @include tablet-l {
        width: 100% !important;
        z-index: 3;
        top: 0;
    }

    .btnContainer {
        position: sticky;
        flex: 1;
        background-color: var(--white-color);
        top: 70px;
        z-index: 3;
        width: 100%;

        @include tablet-l {
            top: 0;
            flex-direction: column;
            flex: 0;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 30px;
        }

        .activeFilter {
            margin-top: 20px;
            padding: 10px;
            background-color: var(--pink-opacity40);

            @include tablet-l {
                margin-top: 0;
            }

            .button_clear {
                padding: 0;
                width: fit-content;
                height: fit-content;
            }
        }
    }

    .filterBar {
        height: auto;
        width: 270px;
        max-height: 70vh;
        padding: 0 10px 60px 0;

        @include tablet-l {
            max-height: 75vh;
            width: 100%;
        }
    } 
}


