.forgotPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-m);
    width: 100%;

    input {
        border: 1px solid var(--blue-color);
    }
}
