@use '@/app/styles/media-queries' as media;

.filterbar {
    width: 40%;

    @include media.desktop-m {
        width: 70%;
    }

    @include media.tablet-l {
        width: 100%;
    }

    @include media.mobile-xl {
        flex-wrap: wrap;
    }

    button {
        position: relative;
        overflow: hidden;

        &:hover .underLine {
            transform: translateX(0);
        }

        .underLine {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            width: 100%;
            align-self: flex-end;
            transform: translateX(-100%);
            background-color: var(--blue-color);
            transition: all .3s ease-Out;
        }
    }

    > button:nth-child(1) {
        width: 100%;
    }

    > button:nth-child(2),
    > button:nth-child(3) { 
        max-width: calc(50% - 8px);
    }
}