@use '@/app/styles/media-queries' as *;

.filterbar {
    width: 40%;

    @include desktop-m {
        width: 70%;
    }

    @include tablet-l {
        width: 100%;
    }

    > button:nth-child(1) {
        width: 100%;
    }

    > button:nth-child(2),
    > button:nth-child(3) { 
        max-width: calc(50% - 8px);
    }
}