@use '@/app/styles/media-queries' as *;

.guide {
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    background-color: var(--white-color);
    flex: 1;
    max-height: 150px;

    .image {
        width: 130px;
        min-height: 150px;
        border-radius: 16px 0  0 16px;
        object-fit: cover;
    }

    .text {
        position: relative;
        align-self: stretch;
        padding: 10px;

        :nth-child(3) {
            text-indent: var(--text-indent);
        }
    }

    .svg {
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0.1;
        z-index: 1;
    }

    @include mobile-l {
        flex-direction: column;
        width: 100%;
        gap: var(--gap-s);

        img {
            width: 100%;
            border-radius: 16px 16px  0 0;
        }

        .text {
            padding: 10px;
        }
    }
}
