.search {

    input {
        position: relative;
        width: 100%;
        padding: 14px 24px;
        padding-left: 44px;
        border: 2px solid var(--blue-color);
    }

    .svg {
        position: absolute;
        transform: translateY(50%);
        padding-left: 14px;
        color: var(--blue-color);
        opacity: 0.7;
        z-index: 3;
    }

    .list {
        position: absolute !important;
        top: 65px !important;
        z-index: 999;
        left: 0 !important;
        height: unset;
        width: 290px;
        background-color: var(--white-color);
        border-radius: var(--border-radius);
        box-shadow: var(--box-shadow);
        padding: 24px 16px 24px 24px;

        ul {
            display: flex;
            flex-direction: column;
            gap: var(--gap-s);
            width: 100%;
            max-height: 235px;
            overflow-y: auto;
            clip-path: inset(0 round 0 0 16px 16px);

            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--blue-opacity20);
                border-radius: 8px;
            }


            h2 {
                line-height: 30px;
                border-bottom: 2px solid black;
                width: 97%;
            }

            li {
                background-color: #efefef;
                border-radius: var(--border-radius);
                padding: 12px 16px;
                width: 97%;

                .span {
                    background-color: var(--pink-opacity40);
                    padding: 3px 10px;
                    border-radius: var(--border-radius);
                }
            }
        }
    }

}