.search {
    position: relative;

    input {
        position: relative;
        width: 100%;
        padding: 14px 24px;
        padding-left: 44px;
        border: 2px solid var(--blue-color);
    }

    .svg {
        position: absolute;
        transform: translateY(50%);
        padding-left: 14px;
        color: var(--blue-color);
        opacity: 0.7;
        z-index: 3;
    }

}