@use '@/app/styles/media-queries' as mq;

.tour_card {
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    position: relative;
    
    @include mq.mobile-m {
        width: 100vw;
    }

    img {
        width: 320px;
        height: 400px;
        border-radius: 16px 16px 0 0;

        @include mq.mobile-m {
            width: 100vw;
        }
    }

    .badge {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: var(--blue-color);
        color: var(--white-color);
        font-family: var(--font-family-unbounded);
        padding: 5px 10px;
        border-radius: 16px;
    }

    .link {
        position: absolute;
        right: 15px;
        bottom: 20px;
    }

    .text_container {
        padding: 0px 20px 20px 20px;
    }
}

