@use '@/app/styles/media-queries' as mq;

.tour_card {
    width: auto;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    position: relative;
    height: 580px;
    
    @include mq.mobile-xl {
        width: 100%;
    }

    > div:nth-child(1) {
        height: 100%;
        overflow: hidden;
        border-radius: var(--border-radius);
    }

    .imageContainer {
        width: 100%;
        
        img {
            width: 320px;
            height: 400px;
            border-radius: 16px 16px 0 0;
            object-fit: cover;
    
            @include mq.mobile-m {
                width: 100vw;
            }
        }
    }

    .badge {
        position: absolute;
        top: 10px;
        left: 10px;
        background-color: var(--blue-color);
        color: var(--white-color);
        font-family: var(--font-family-unbounded);
        padding: 5px 10px;
        border-radius: var(--border-radius);
    }

    .link {
        align-self: flex-end;
        margin-top: auto;
        width: auto;
    }

    .text_container {
        width: 100%;
        padding: 0px 20px 20px 20px;
        height: 100%;

        @include mq.mobile-xl {
            gap: var(--gap-s);
        }

        .old_price {
            text-decoration: line-through;
            opacity: 0.8;
        }

        .new_price {
            background-color: var(--pink-opacity40);
            padding: 3px 10px;
            border-radius: var(--border-radius);
        }

        span {
            margin-left: 8px;
            font-size: var(--font-size-14);
            background: var(--blue-color);
            color: var(--white-color);
            border-radius: var(--border-radius);
            padding: 2px 5px;
        }
    }
}

