@use '@/app/styles/mixin' as mixin;
@use '@/app/styles/media-queries' as *;

.region {
    background-color: var(--white-color);
}

.tours_page {
    height: 100%;
    @include mixin.section-style;

    & {
        margin-bottom: 50px;
    }
}