@use '@/app/styles/media-queries.scss' as *;
@use '@/app/styles/mixin.scss' as *;

.container {
    @include section-admin-style
}

.grid_container {
    @include grid-admin;
}

.manage_container {
    z-index: 4;

    @include tablet-m {
        flex-direction: column;
        gap: var(--gap-m);
    }

    form {
        position: static !important;
    }

    button {
        width: 350px;

        @include tablet-m {
            width: 100%;
        }
    }

}