@use '@/app/styles/media-queries.scss' as *;

//TODO - дублируется из ModerationReviews
.container {
    padding: 1.5rem 0;
    width: 80%;
    margin: auto;

    @include tablet-l {
        width: 100%;
        padding: 1.5rem;
    }
}

//TODO - дублируется из NewsAdmin
.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    width: 100%;
    gap: var(--gap-xxl);

    @include tablet-l {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mobile-l {
        grid-template-columns: repeat(1, 1fr);
    }
}
