@use '@/app/styles/media-queries.scss' as *;

.form {
    position: sticky;
    top: 180px;
    width: 100%;

    .searchContainer {
        box-shadow: var(--box-shadow);
        padding: 10px;
        gap: 4px;
        width: 100%;
        background-color: var(--white-color);
        flex: 1;
        border-radius: var(--border-radius); 

        @include mobile-xl {
            flex-direction: column;
            gap: var(--gap-m);
        }

        & div {
            flex: 1;
        }
    }
}

