@use '@/app/styles/mixin' as mixin;
@use '@/app/styles/media-queries' as media;

.main {
    @include media.mobile-xl {
        gap: 24px;
    }
}

.news_title {
    @include mixin.section-style;

    @include media.mobile-xl {
        flex-direction: column;
        gap: 32px;
    }

    > div:nth-child(1) {
        @include media.tablet-m {
            width: 60%;
        }

        @include media.mobile-xl {
            width: 100%;
        }
    }

    > div:nth-child(2) {
        @include media.mobile-xl {
            width: 100%;
        }
    }
}

.news {
    width: calc(100vw - ((100vw - 1280px) / 2));
    margin-left: auto;
    overflow: hidden;
    cursor: grab;
    padding: 10px;

    @include media.desktop-m {
        width: calc(100vw - ((100vw - 1110px) / 2));
        padding: 10px 40px;
    }

    @include media.tablet-l {
        width: 100%;
        padding: 10px 30px;
        margin: auto;
    }

    @include media.mobile-l {
        padding: 10px;
    }
}

.swiper {
    position: relative;
    width: 100%;
    padding: 10px 30px;
    overflow: hidden;
    display: flex;
    transition: transform 0.3s ease-in-out;

    @include media.mobile-l {
        padding: 10px 20px;
    }
}
