@import '@/app/styles/mixin';

.newsBlogContainer {
    @include section-style;

    > div:nth-child(2) {
        height: 520px;
        width: 100%;
        overflow: hidden;
        cursor: grab;
    }
}