@use '@/app/styles/mixin' as mixin;

.news_title {
    @include mixin.section-style;
}

.news {
    height: 540px;
    width: calc(100vw - ((100vw - 1240px) / 2));
    margin-left: calc((100vw - 1280px) / 2);
    overflow: hidden;
    cursor: grab;
    padding: 10px;
}