@use '@/app/styles/media-queries' as *;

main {
    @include mobile-xl {
        gap: var(--gap-s);
    }
}

.date_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-m);
    width: 100%;

    @include mobile-xl {
        grid-template-columns: repeat(2, 1fr);
    }
}

.flex {
    display: flex;
    gap: var(--gap-s);
}

.remove_button {
    color: var(--error-color);
    background: none;
    transition: color 0.2s;
    margin-left: 0.5rem;


    &:hover {
        color: var(--error-color);
    }
}

.button_container {
    button {
        @include mobile-xl {
            height: 30px;
        }
    }
}