.mobileSearch {
    flex: 1;

    .openModal {
        width: 100%;
        padding: 8px;
        border: 2px solid var(--blue-color);
        border-radius: var(--border-radius);

        svg {
            color: var(--blue-color);
        }
    }
}