@use '@/app/styles/media-queries' as *;

.shedule_container {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 16px;
    width: 550px;
    height: 700px;

    @include mobile-l {
        width: 100%;
    }

    .contact_container {
        background-color: var(--white-color);
        svg {
            width: 60px;
        }

        > ul {
            display: flex;
            align-items: center;
            gap: var(--gap-m);

                a {
                    display: flex;
                    align-items: center;
                    svg {
                        width: 24px;
                        height: 24px;
                        fill: var(--blue-color);
                    }
                }
    
                li:nth-last-of-type(1) {
                    a svg {
                        height: 28px;
                        width: 30px;
                    }
                }
        }
    }

    .heading {
        text-align: center;
        background-color: var(--white-color);
    }

    .shedule_item {
        width: 100%;
        overflow-y: scroll;

        .month {
            width: 100%;
            border-bottom: 1px solid var(--blue-opacity80);
        }
    }
}