@import '@/app/styles/mixin';
@import '@/app/styles/media-queries';

.parallaxContainer {
    background-color: var(--blue-color);
    width: 100%;
    height: 100vh;
    position: relative;

    @include desktop-m {
        height: 80vh;
    }

    @include tablet-l {
        height: 60vh;
    }

    @include mobile-l {
        height: 40vh;
    }

    @include mobile-m {
        height: 30vh;
    }
    

    > div {
        @include section-style;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        scroll-behavior: smooth;
        > img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: transform 0.1s ease;
            scroll-behavior: smooth;
        };

        &:nth-child(6) {
            position: fixed;
            bottom:0;
        }
    } 
}