@use '@/app/styles/mixin' as mixin;
@use '@/app/styles/media-queries' as mq;

.parallaxContainer {
    background-color: var(--blue-color);
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    > div {
        position: absolute;
        overflow: hidden;
        width: 100vw;
        height: 100%;

        @include mq.tablet-m {
            width: 150vw;
        }

        @include mq.mobile-l {
            width: 300vw;
            left: -104%;
            scale: 0.8;
        }

        
        > img {
            position: absolute;
            object-fit: cover;
            will-change: transform;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transition: transform 0.1s ease;
            scroll-behavior: smooth;
        }

        :nth-child(6) {
            bottom: 0;

            @include mq.mobile-l {
                transform: none !important;
                bottom: -5px;
            }
        }
    } 
}