@use '@/app/styles/mixin' as mixin;

.dropdown {
    position: relative;
    width: 100%;
}

.select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 16px 16px 0 0;
    cursor: pointer;

    &.focused {
        border-color: var(--blue-color);
    }
}

.label {
    font-size: var(--font-size-16);
    font-weight: 600;
}

.icon {
    @include mixin.icon-drop-down;
}

.list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 195px;
    overflow-y: auto;
    border: 1px solid var(--blue-color);
    background-color: var(--white-color);
    border-top: none;
    border-radius: 0 0 16px 16px;
    z-index: 10;
    clip-path: inset(0 round 0 0 16px 16px);

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--blue-opacity20);
        border-radius: 8px;
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: #f0f0f09e;
    }
}

.itemTitle {
    font-size: var(--font-size-14);
    font-weight: 600;
    white-space: nowrap;
}

.itemDetails {
    display: flex;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}

.price {
    background-color: var(--pink-opacity40);
    padding: 3px 10px;
    border-radius: 16px;
    width: 80px;
}

.spots {
    color: var(--blue-color);
    font-family: var(--font-family-geometria500);
    width: 65px;
}

.soldout {
    color: var(--error-color);
}
