@use '@/app/styles/mixin' as *;
@use '@/app/styles/media-queries.scss' as *;

.main {
    @include section-style;

    & {
        margin-top: 30px; //TODO
        margin-bottom: 50px; //TODO
    }
}

.sticky_container {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-xxl);
    width: 100%;

    @include tablet-l {
        flex-direction: column;
    }
}

.reviews_container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);

    p, h2 {
        text-indent: var(--text-indent);
    }

    @include tablet-l {
        width: 100%;
    }
}
