.container {
    padding: 24px 0;
    width: 80%;
    margin: auto;
}

.header {
    margin-bottom: 24px;
}

.form {
    background-color: white;
    border-radius: var(--border-radius);
    padding: 24px;
    box-shadow: var(--box-shadow);
    width: 100%;
}

.formGroup {
    margin-bottom: 24px;

    &:last-child {
        margin-bottom: 0;
    }
}

.label {
    display: block;
    margin-bottom: 8px;
    font-size: var(--font-size-18);
    font-family: var(--font-family-geometria500);
}

.input {
    width: 100%;
    padding: 8px;
    border: 1px solid #d1d5db;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus {
        border-color: var(--pink-color);
        box-shadow: 0 0 0 1px var(--pink-color);
        outline: none;
    }
}

.toolbar {
    display: flex;
    gap: var(--gap-xl);
    margin-top: 60px;
}