@use '@/app/styles/media-queries' as *;
@use '@/app/styles/mixin' as mixin;

.storyContainer {
    @include mixin.section-style;

    @include tablet-l {
        flex-direction: column;
    }

    .story {
        .story_container {
            p {
                text-indent: var(--text-indent);
            }
        }
        .button {
            width: 100%;
        }
    }
}
